{% extends "layout.html" %}

{% block content %}
<div class="container px-4 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-5">
      <h4 class="heading">Shopping Bag</h4>
    </div>
    <div class="col-7">
      <div class="row text-right">
        <div class="col-4">
          <h6 class="mt-2">Format</h6>
        </div>
        <div class="col-4">
          <h6 class="mt-2">Quantity</h6>
        </div>
        <div class="col-4">
          <h6 class="mt-2">Price</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center border-top">
    <div class="col-5">
      <div class="row d-flex">
        <div class="book"> <img src="{{ url_for('static',filename='img/img1.jpeg') }}" class="book-img"> </div>
        <div class="my-auto flex-column d-flex pad-left">
          <h6 class="mob-text">Thinking, Fast and Slow</h6>
          <p class="mob-text">Daniel Kahneman</p>
        </div>
      </div>
    </div>
    <div class="my-auto col-7">
      <div class="row text-right">
        <div class="col-4">
          <p class="mob-text">Digital</p>
        </div>
        <div class="col-4">
          <div class="row d-flex justify-content-end px-3">
            <p class="mb-0" id="cnt1">1</p>
            <div class="d-flex flex-column plus-minus"> <span class="vsm-text plus">+</span> <span class="vsm-text minus">-</span> </div>
          </div>
        </div>
        <div class="col-4">
          <h6 class="mob-text">$9.99</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center border-top">
    <div class="col-5">
      <div class="row d-flex">
        <div class="book"> <img src="{{ url_for('static',filename='img/img2.jpeg') }}" class="book-img"> </div>
        <div class="my-auto flex-column d-flex pad-left">
          <h6 class="mob-text">Homo Deus: A Brief<br>History of Tomorrow</h6>
          <p class="mob-text">Yuval Noah Harari</p>
        </div>
      </div>
    </div>
    <div class="my-auto col-7">
      <div class="row text-right">
        <div class="col-4">
          <p class="mob-text">Paperback</p>
        </div>
        <div class="col-4">
          <div class="row d-flex justify-content-end px-3">
            <p class="mb-0" id="cnt2">1</p>
            <div class="d-flex flex-column plus-minus"> <span class="vsm-text plus">+</span> <span class="vsm-text minus">-</span> </div>
          </div>
        </div>
        <div class="col-4">
          <h6 class="mob-text">$13.50</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card">
        <div class="row">
          <div class="col-lg-4 mt-2">
            <div class="row d-flex justify-content-between px-4">
              <p class="mb-1 text-left">Subtotal</p>
              <h6 class="mb-1 text-right">$23.49</h6>
            </div>
            <div class="row d-flex justify-content-between px-4">
              <p class="mb-1 text-left">Shipping</p>
              <h6 class="mb-1 text-right">$2.99</h6>
            </div>
            <div class="row d-flex justify-content-between px-4" id="tax">
              <p class="mb-1 text-left">Total (tax included)</p>
              <h6 class="mb-1 text-right">$26.48</h6>
            </div>
            <label for="country-names">Choose a country:</label>
            <select name="country-names" id="country-names">
              <option value="NL">Netherlands</option>
              <option value="SG">Singapore</option>
              <option value="DE">Germany</option>
              <option value="CN">China</option>
              <option value="AU">Australia</option>
            </select>


            <a id="checkout_button"><button class="btn-block btn-blue" onclick="javascript:goToProperPage();"> <span> <span id="checkout">Checkout</span> <span id="check-amt">$26.48</span> </span> </button></a>
            <script type="text/javascript">

                function goToProperPage() {
                    var url;
                    var location = document.getElementById("country-names");
                    var value = document.getElementById("check-amt").innerText.substring(1);
                    if (location.options[location.selectedIndex].value == "NL") {
                        url = 'http://127.0.0.1:5000/checkout?country=' + "NL" +"&value=" + value;
                    }
                    else if (location.options[location.selectedIndex].value == "SG") {
                        url = 'http://127.0.0.1:5000/checkout?country=' + "SG" +"&value=" + value ;
                    }
                    else if (location.options[location.selectedIndex].value == "DE") {
                        url = 'http://127.0.0.1:5000/checkout?country=' + "DE" +"&value=" + value;
                    }
                     else if (location.options[location.selectedIndex].value == "CN") {
                        url = 'http://127.0.0.1:5000/checkout?country=' + "CN" +"&value=" + value;
                    }
                     else if (location.options[location.selectedIndex].value == "AU") {
                        url = 'http://127.0.0.1:5000/checkout?country=' + "AU" +"&value=" + value;
                    }

                    window.location.href=url;
                }

            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
